.main h1 {
  max-width: 1300px;
  width: 100%;
  margin: 3rem auto;
  padding: 0 1rem;
  text-align: center;

  color: #003889;
  font-size: 3.1rem;
}
.main h1 span {
  color: #ffbc40;
}
.bannerMobileHome {
  display: none;
}

.wppPlugin {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  bottom: 2rem;
  right: 1rem;
  border-radius: 50%;
  position: fixed;

  background-color: #25D366;
  color: #ffffff;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  transition: all 200ms ease-in;
}
.wppPlugin:hover {
  background-color: #ffffff;
  color: #25D366;
}
.wppPlugin svg {
  font-size: 55px;
  margin-top: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 980px){
  .main {
    padding-top: 72px;
  }  
}
@media screen and (max-width: 620px){
  .bannerHome {
    display: none;
  }
  .bannerMobileHome {
    display: block;
  }
}
@media screen and (max-width: 520px){
  .main {
    padding-top: 63px;
  }
  .main h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 380px){
  .main {
    padding-top: 82px;
  }
}